
/* General */

a {
  color: black;
}

.content {
  font-family: Georgia;
}

.content p {
  font-size: 17px;
  color: black;
}
/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo img {
   margin-right: 12px;
   width: 70px;
   height: 60px;
}

.logo span {
  color: MediumAquamarine;
}

.navigation {
  margin-left: auto;
}

.navigation span {
 display: inline-block;
 padding: 20px 10px;
}

header nav {
 padding-right: 40px;
}

/*Body*/

body {
  margin: 0;
}

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column.large {
  display:flex;
  width: 630px;
  margin-right: 32px;
  flex-direction: column;
}

.column.medium {
  display: flex;
  margin-right: 32px;
  width: 300px;
  flex-direction: column;
}

.story.column.medium {
  align-content: flex-start;
}

h2 {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.column.small {
  display: flex;
  margin-right: 32px;
  width:240px;
  flex-direction: column;
}

.news-bites h4 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.bite {
  display: block;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px 20px;
}

.image-content {
  display: flex;
  background-image: url("../images/img-story-main.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  width: 629px;
  height: 300px;
}

.fall-image-content {
  display: flex;
  background-image: url("../images/img-story-2.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  margin-top: 15px;
}

.camera-image-content {
  display: flex;
  background-image: url("../images/img-story-3.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  margin-top: 15px;
}

.cat-image-content {
  display: flex;
  background-image: url("../images/img-story-1.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  margin-top: 15px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.text-content .column.large {
  height: 250px;
}

/*Footer*/

footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  font-family: verdana;
  font-size: 12px;
}

footer .title {
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
}
